<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<div th:fragment="navbar" class="navbar navbar-outside">
    <p sec:authorize="isAuthenticated()" th:text="#{navbar.anchor.greeting(${username})}"></p>

    <div class="navbar-inside">

        <a th:href="@{/public}" th:text="#{navbar.anchor.ranking}"></a>

        <a th:href="@{/game/allGames}" th:text="#{navbar.anchor.allGames}"></a>

        <a th:href="@{/team}" sec:authorize="isAuthenticated()" th:text="#{navbar.anchor.team}"></a>

        <a th:href="@{/game/create}" sec:authorize="hasRole('ADMIN')" th:text="#{navbar.anchor.manageGames}"></a>

        <a th:href="@{/user/register}" sec:authorize="isAnonymous()" th:text="#{navbar.anchor.register}"></a>
        <a th:href="@{/login}" sec:authorize="isAnonymous()" th:text="#{navbar.anchor.login}"></a>
        <a th:href="@{/logout}" sec:authorize="isAuthenticated()" th:text="#{navbar.anchor.logout}"></a>

    </div>
</div>
</html>