<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title th:text="#{home.title}"></title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<h1 th:text="#{home.welcome}"></h1>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<h2 th:text="#{home.table.title}"></h2>

<p th:if="${successMessage != null}" th:text="${successMessage}" class="successMessage"></p>

<table class="fullscreen">
    <thead>
    <tr>
        <th>teams</th>
        <th>city</th>
        <th>stadium</th>
        <th>Date</th>
        <th>Time</th>
        <th>Score</th>
        <th>Prognosis</th>
        <th sec:authorize="hasRole('ADMIN')"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="game: ${allGames}">
        <td th:text="|${game.team1} vs. ${game.team2}|"></td>
        <td th:text="${game.Location}"></td>
        <td th:text="${game.stadium}"></td>
        <td th:with="df=#{date.format.pattern.extended}"
            th:text="${#temporals.format(game.dateOfGame, df)}"></td>
        <td th:text="${game.timeOfGame}"></td>
        <td th:if="${game.scoreA() < 0 || game.scoreB() < 0}"></td>
        <td th:unless="${game.scoreA() < 0 || game.scoreB() < 0}" th:text="|${game.scoreA()} - ${game.scoreB()}|" class="score"></td>
        <td>
            <a th:href="@{/game/prognosis/{gameId}(gameId=${game.id})}">
                <p th:if="${game.finished}" th:text="'View Prognosis (game ended)'"></p>
                <p th:unless="${game.finished}" th:text="'Edit Prognosis'"></p>
            </a>
        </td>
        <td sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/game/edit/{gameId}(gameId=${game.id})}">Edit Game or Add scores</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>