<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>Fifa World Cup!</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<h1 th:text="#{home.welcome}"></h1>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<h2 th:text="#{home.table.title}"></h2>
<table>
    <thead>
        <tr>
            <th>teams</th>
            <th>city</th>
            <th>stadium</th>
            <th>Date</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="game: ${allGames}">
            <td th:text="|${game.team1()} vs. ${game.team2()}|"></td>
            <td th:text="${game.Location()}"></td>
            <td th:text="${game.stadium()}"></td>
            <td th:with="df=#{date.format.pattern.extended}"
                th:text="${#temporals.format(game.dateOfGame(), df)}"></td>
            <td th:text="${game.timeOfGame()}"></td>
        </tr>
    </tbody>
</table>
</body>
</html>