<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title th:text="#{prognoseView.title}"></title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

<h1 th:text="#{prognoseView.heading(${game.team1}, ${game.team2})}"></h1>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<div th:if="${game.finished && prognosis == null}">
    <p th:text="#{prognoseView.finished.noPrognosis}"></p>
</div>
<div th:if="${game.finished && prognosis != null}">
    <p th:text="#{prognoseView.finished.goalsOfTeam(${game.team1}, ${prognosis.goalsTeamsA()})}"></p>
    <p th:text="#{prognoseView.finished.goalsOfTeam(${game.team2}, ${prognosis.goalsTeamsB()})}"></p>
</div>
<div th:if="${!game.finished}">
    <p>Please input your prognosis.</p>
    <p th:if="${successMessage != null}" th:text="${successMessage}" class="successMessage"></p>
    <form th:action="@{/game/prognosis/{gameId}(gameId=${game.id})}" th:object="${inputPrognosisDto}" method="post">
        <p>
            <!--        goals of team A-->
            <label th:text="#{prognoseView.finished.goalsOfTeam(${game.team1()}, ${''})}" > </label>
            <input type="text" th:field="*{goalsTeamsA}" />
            <span th:if="${#fields.hasErrors('goalsTeamsA')}" th:errorclass="error" th:errors="*{goalsTeamsA}"></span>
        </p>
        <p>
            <!--        goals of team B-->
            <label th:text="#{prognoseView.finished.goalsOfTeam(${game.team2()}, ${''})}" > </label>
            <input type="text" th:field="*{goalsTeamsB}" />

            <span th:if="${#fields.hasErrors('goalsTeamsA')}" th:errorclass="error" th:errors="*{goalsTeamsB}"></span>
        </p>
        <button type="submit" th:text="#{form.submit}"></button>
    </form>
</div>
</body>
</html>