<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title th:text="#{public.title}"></title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<h1 th:text="#{public.header}"></h1>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<h1></h1>

<table class="fullscreen">
    <thead>
    <tr>
        <th class="small" th:text="#{public.table.rank.header}"></th>
        <th th:text="#{public.table.name.header}"></th>
        <th th:text="#{public.table.points.header}"></th>
        <th th:text="#{public.table.members.header}"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="team, iter: ${teams}">
        <td class="small" th:text="${iter.count}"></td>
        <td th:text="${team.name}"></td>
        <td th:text="${team.totalPoints}"></td>
        <td th:text="${team.amountOfMembers}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>