<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title th:text="${team.teamName}"></title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<h1 th:text="#{teamPage.header}"></h1>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<h2 th:text="${team.teamName}"></h2>

<div th:if="${username == team.owner.username}">
    <p th:text="|#{teamPage.owner.invitecode} ${team.inviteCode}|"></p>
</div>

<div>
    <p th:text="#{teamPage.totalScore(${totalScore})}"></p>

    <h3 th:text="#{teamPage.members.header}"></h3>
    <p th:if="${illArgExc}" th:text="${illArgExc}" class="error"></p>

    <table>
        <thead>
        <tr>
            <th th:text="#{teamPage.members.rank.header}"></th>
            <th th:text="#{teamPage.members.username.header}"></th>
            <th th:text="#{teamPage.members.firstname.header}"></th>
            <th th:text="#{teamPage.members.lastname.header}"></th>
            <th th:text="#{teamPage.members.score.header}"></th>
            <th th:if="${username == team.owner.username}" th:text="#{teamPage.owner.removeMember.header}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user, iter: ${team.users()}">
            <td th:text="${iter.count}"></td>
            <td th:if="${user.username == team.owner.username}" th:text="${user.username}" class="teamOwner"></td>
            <td th:unless="${user.username == team.owner.username}" th:text="${user.username}"></td>
            <td th:text="${user.firstname}"></td>
            <td th:text="${user.lastname}"></td>
            <td th:text="${user.points()}"></td>
            <td th:if="${username == team.owner.username}">
<!--
        SpringBoot Magie: key/value (username: "...) wordt doorgestuurd naar de controller. Deze kijkt
        naar de key/value, vergelijkt het met de dto dat het verwacht, en vult het automagisch in.
-->
                <form th:action="@{/team/user/remove}" method="post">
                    <input type="hidden" name="username" th:value="${user.username}">
                    <input type="hidden" name="teamName" th:value="${team.teamName}">
                    <button th:text="#{teamPage.owner.removeMember.button}" type="submit" class="remove-button"></button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>