<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>USERS!!</h3>

<div th:fragment="userTable(title, users)">
    <h4 th:text="${title}" ></h4>
    <ul>
        <li th:each="user: ${users}" th:text="|${user.lastname} ${user.firstname}|"></li>
    </ul>
</div>

<div th:replace="this::userTable('findAll', ${allUsers})" ></div>
<div th:replace="this::userTable('Find by Lastname', ${usersByLastname})" ></div>
<div th:replace="this::userTable('Find by Firstname', ${usersByFirstname})" ></div>
<div th:replace="this::userTable('Find by starting by blon', ${usersByLastnameStartingWith})" ></div>
<div th:replace="this::userTable('Find by starting by k', ${usersByLastnameStartingWith2})" ></div>

</body>
</html>